.intro {
    height: auto;
    width: 100%;

    position: relative;

    margin-top: 5rem;
    margin-bottom: 5rem;

    background: $gray url("/../assets/images/Window-Film.jpg") center no-repeat;
    background-size: cover;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;

        background-color: rgba(0,0,0,.35);

        position: absolute;
        top: 0;
        left: 0;

    }

    @media (max-width: 767px) {
        margin-top: 4.6rem;
    }

    @media (max-width: 430px) {
        margin-bottom: 3rem;
    }
}

.intro__wrap {

    position: relative;

    &::before {
        content: '';
        left: 0;
        position: absolute;
        z-index: 1;
        border-top: 40px solid transparent;
        border-left: 50vw solid #fff;
        width: 50%;
        bottom: -1px;
    }

    &::after{
    content: '';
    position: absolute;
    z-index: 1;
    border-top: 40px solid transparent;
    border-right: 50vw solid #fff;
    width: 50%;
    bottom: -1px;
    right: 0;
    }
}


.intro__title {
    position: relative;
    text-align: center;

    font-size: 3.4rem;
    font-weight: 800;
    color: $white;

    padding-top: 12%;

    z-index: 1;

    @media (max-width: 1198px) {
        font-size: 2.6rem;
    }

    @media (max-width: 767px) {
        font-size: 2.2rem;
    }

    @media (max-width: 430px) {
        font-size: 1.8rem;
    }

}

.button__intro {
    text-align: center;

    padding-top: 5%;
    padding-bottom: 12%;
}


.intro__divader::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -1px;
    height: 60px;
    width: 3px;
    background: url("/../assets/images/line_top_block.png");

    z-index: 1;
}
