<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__form">
                <h3 class="footer__title footer__white">Contact Us</h3>
                <form class="form__body" action="#" id="form" >
                    <div class="form__row">
                        <input class="form__input _req" tabindex="1" type="text" placeholder="Name *" name="username" />
                        <input class="form__input" tabindex="2" type="text" placeholder="Company" name="company" />
                    </div>
                    <div class="form__row">
                        <input class="form__input _req _email" tabindex="3" type="text" placeholder="Email *" name="email" />
                        <input class="form__input _req" tabindex="4" type="tel" placeholder="Phone *" name="phone" />
                    </div>
                    <textarea class="form__textarea" tabindex="5" placeholder="Message" name="message" ></textarea>
                    <button class="button__footer" tabindex="6" type="submit">Submit</button>
                </form>
                
            </div>

            <div class="footer__company">
                <h3 class="footer__title footer__light">Axxon Digital</h3>
                <div class="footer__city footer__light">Chicago Office</div>
                <a href="" class="footer__phone green">312-778-5876</a>
                <p class="footer__addterss">500 N Michigan ave<br>
                                            Chicago, IL 60611</p>
            </div>
        </div> <!-- ./footer__wrap -->
    </div> <!-- ./container -->
</footer>
