<header class="header">
    <div class="container">

        <div class="header__inner">
            <div class="header__logo">
                <a href="/">
                    <img class="logo" src="assets/images/logo.svg" width="200" height="24" alt="logo">
                </a>               
            </div>

            <div class="header__phone">
                <img class="phone__logo" src="assets/images/phone.svg" width="17" height="22" alt="Phone logo" >
                <a class="phone__number" href="" >312-778-5876</a>
            </div>
          
        </div> <!-- ./hader__inner --> 
    </div>  <!--  ./container  --> 
</header>
